body {
	background-color: #fff !important;
}

.default-font {
	font-family: "Saira Condensed", sans-serif;
}

.text-logo {
	font-family: "Audiowide", sans-serif;
	font-size: 55px;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}

.label {
	color: #0d7c7e;
	font-size: 20px;
}

.ctm-button {
	font-size: 20px;
	background-color: #0d7c7e;
}

.form-group {
	display: flex;
	justify-content: space-between;
}

.page-title {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.text-20 {
	font-size: 20px;
}