body {
	background-color: #fff !important;
}

.main-color {
	color: #0d7c7e;
}

.default-font {
	font-family: "Saira Condensed", sans-serif;
}

.text-logo {
	font-family: "Audiowide", sans-serif;
	font-size: 55px;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}

.label {
	color: #0d7c7e;
	font-size: 20px;
}

.ctm-button {
	font-size: 20px;
	background-color: #0d7c7e;
}

.form-group {
	display: flex;
	justify-content: space-between;
}

.page-title {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.text-20 {
	font-size: 20px;
}

.ant-modal {
	.ant-modal-title {
		color: #0d7c7e;
		border-bottom: 1px solid #ccc;
	}
	.ant-modal-body {
		min-height: 200px;
		font-size: 20px;
		line-height: 2;
	}
	.ant-modal-footer {
		display: none;
	}
}
.button-wrap {
	white-space: normal;
	word-break: break-word;
	text-align: left;
    padding: 0;
}